# Git
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv
venv
env

# IDE/Editor specific
.vscode/
.idea/

# Notebook cache
.ipynb_checkpoints

# Build artifacts
build/
dist/
*.egg-info/ 